streamlit
langchain
groq
langchain-community
langchain-pymupdf4llm
sentence-transformers
faiss-cpu
pillow
python-dotenv
pypdf
pymupdf
langgraph
langchain-huggingface
langchain-experimental
sympy
mpmath
pydantic
sentence-transformers